body {
	background-image: url('https://myanimelist.cdn-dena.com/images/anime/5/18179l.jpg');
	background-color: #79a6d2;
	font-family: 'Oswald', sans-serif;
	margin: auto;
	color: #ccccff;
}
.head {
	text-align: center;
	padding-bottom: 10px;
}
#main {
	font-size: 18px;
}
.animeImage {
	border: 3px solid white;
	margin-left: 125px;
	margin-top: 75px;
	width: 28%;
}



@media only screen and (min-width: 981px) and (max-width: 1196px) {
	.animeImage {
		margin-left: 125px;
	}
}
@media only screen and (max-width: 980px) {
	.animeImage {
		margin-left: 250px;
	}
}
